{% extends "base.html" %}
{% load i18n allauth account %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<div class="overlay"></div>
<div class="container content">
    <div class="row">
        <div class="col-md-8 offset-md-2" style="margin-top: 175px;">
            <h3>{% trans "Password Reset" %}</h3>
            
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% else %}
                <p>
                    {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
                </p>
                
                <form method="post" action="{% url 'account_reset_password' %}" class="form-signin">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            {% trans 'Reset My Password' %}
                        </button>
                    </div>
                </form>
                
                <p>
                    {% blocktrans %}
                        Please contact us if you have any trouble resetting your password.
                    {% endblocktrans %}
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
