{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-smokewhite">
                Shape Your Perfect Body.
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="join-today-button btn  btn-primary float-right text-uppercase py-3">Join Today</a>
                </h4>
            </div>
        </div>
    </div> <!-- Closing row h-100 -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for post in post_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top" src="#" alt="description">
                                    {% else %}
                                    <img class="card-img-top" src="{{ post.featured_image.url }}" alt="description">
                                    {% endif %}
                                </div>
                                <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                </a>
                                <hr>
                                <p class="card-text text-muted h6">{{ post.created_on}}</p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div> <!-- Closing row for posts -->
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div> <!-- Closing row for posts -->
            </div>
        </div> <!-- Closing row -->
    </div> <!-- Closing container-fluid -->
</div> <!-- Closing container h-100 -->
{% endblock %}
