{% extends 'base.html' %}

{% block content %}
<div class="overlay"></div>
<div class="container content pt-4">
    <div class="row">
        <div class="col-lg-8 mx-auto" style="margin-top: 140px;">
            <!-- Image -->
            <img src="https://c4.wallpaperflare.com/wallpaper/692/659/618/man-workout-gym-working-wallpaper-preview.jpg" alt="Swimming Image" class="img-fluid mb-4 rounded">

            <!-- Article Title -->
            <h1 class="mb-3">High-intensity training</h1>
            
            <!-- Article Content -->
            <p class="text-justify">
                Unlike traditional workout routines that emphasize long hours in the gym, HIT principles require short but highly intense workouts. Exercises are performed with a high level of effort, or intensity, where it is thought that it will stimulate the body to produce an increase in muscular strength and size. Advocates of HIT believe that this method is superior for strength and size building to most other methods which, for example, may stress lower weights with larger volume (sets x reps x weight).
                As strength improves with high-intensity training (HIT), the weight or resistance used in the exercises should be gradually increased over time. This progressive overload is believed to provide the muscles with enough stimulus to continue improving and growing. An inverse relationship exists between how intensely and how long one can exercise. As a result, high-intensity workouts are generally kept brief. After a high-intensity workout, as with any workout, the body requires time to recover and produce the responses stimulated during the workout, so there is more emphasis on rest and recovery in the HIT philosophy than in most other weight training methods. In any workout, not just HIT, training schedules should allow adequate time between workouts for recovery (and adaptation).
            </p>
            <h2 class="mt-4 mb-3">Antecedents and Controversies</h2>
            <p class="text-justify">
                So, in attempts to improve my exercise results, I designed and built a total of about twenty very sophisticated exercise machines, then believing that these were the first exercise machines ever built by anybody. But many years later, I learned that a doctor named Gustav Zander had designed and built a number of exercise machines in Europe nearly a hundred years before I built my first one; I did not copy Zander's work and learned nothing from him, was not even aware of his work until long after I had made the same discoveries that he had made. But if I had known about, and understood, Zander's work, it would have saved me a lot of time and a rather large fortune in money, because the man was a genius; his only problem was that he lived about a century ahead of his time, at a time when very few people cared about exercise and even fewer knew anything about it.[4]
            </p>
            
            <!-- ... additional content ... -->
            
            <h2 class="mt-4 mb-3">HIT and other training routines</h2>
            <p class="text-justify">
                HIT workouts usually include one set of one or two exercises per muscle group, performed to the point of momentary muscle failure. The recommended repetition ranges vary, with most being from as low as 3-5 to as high as 15-20. Lower repetition ranges are often recommended for upper body exercises, while higher repetition ranges are often recommended for the lower body, lower back, abs, and neck.

The recommended repetition speeds are often relatively slow, but not always Super Slow. Nautilus inventor Arthur Jones originally recommended a 2/1/4 cadence; a two-second positive movement, a one-second hold at the end point, and a four-second negative. Later, Jones, Mike Mentzer, and others would recommend performing the positive more slowly, reducing the cadence to 4/1/4 or 4/2/4. Some HIT methods involve even slower repetition cadences, like Ken Hutchins' SuperSlow, with a ten-second positive, ten-second negative, and a two to three-second hold at the end point on some compound pulling and simple movements, but not compound pushing movements, and Ellington Darden PhD's 30/30/30 method, consisting of a 30-second negative, a 30-second positive, and another 30 second negative.
            </p>
            
            <!-- ... additional content ... -->
            
            <h2 class="mt-4 mb-3">Rest-pause</h2>
            <p class="text-justify">
                A former Mr. Universe, the late Mike Mentzer achieved his lifetime best condition from performing rest-pause, an old system of lifting involving single-rep maxima interspersed with brief (10 second) rest periods.[6] Rest-pause has the advantages of old-school power training while also allowing for enough overall reps to be performed for hypertrophy and cardiovascular exercise purposes.
            </p>
            
            <!-- ... additional content ... -->
            
            <h2 class="mt-4 mb-3">Evidence</h2>
            <p class="text-justify">
                Rehabilitation after stroke has evolved over the past 15 years from conventional treatment techniques to task specific training techniques which involve training of basic functions, skills and endurance (muscular and cardiovascular).[4] Functional training has been well supported in evidenced based research for rehabilitation of this population.[4][5][6] It has been shown that task specific training yields long-lasting cortical reorganization which is specific to the areas of the brain being used with each task.[6] Studies have also shown that patients make larger gains in functional tasks used in their rehabilitation and since they are more likely to continue practicing these tasks in everyday living, better results during follow-up are obtained
            </p>
            
        </div>
    </div>
</div>
{% endblock %}
