{% extends 'base.html' %}

{% block content %}
<div class="overlay"></div>
<div class="container content">
    <img src="https://i.pinimg.com/1200x/25/98/40/259840bdd336b8d25cd1d250af66bac9.jpg" alt="Contact Image" class="img-fluid mt-8"> <!-- Adjust the margin-top as needed -->
</div>

<div class="container mt-4">
    <h1>Swimming - health benefits</h1>
    <p>
        Swimming is one of the most popular sports in Australia. Our nation is surrounded by water and swimming is one of our great passions.

As well as being fun, swimming is a great way to keep fit, stay healthy and make friends.

Swimming is a healthy activity that you can continue for a lifetime. It is a low-impact activity that has many physical and mental health benefits.

Swimming for recreation
Swimming is a great recreational activity for people of all ages. Recreational swimming can provide you with a low-impact workout and it's a good way to relax and feel good.
<hr>
Common swimming styles in recreational swimming are:

breaststroke
backstroke
sidestroke
freestyle.
Competitive swimming
Some people who enjoy swimming want to take it to a competitive level. This can provide the health benefits of a vigorous workout as well as the fun and thrill of competition.
<hr>
The main strokes used in competitive swimming are:

breaststroke
freestyle
backstroke
butterfly.
The distances swum in competition swimming can vary from 50 metres in a pool to much further distances in open water.
<hr>
Health benefits of swimming
Swimming is a great workout because you need to move your whole body against the resistance of the water.

Swimming is a good all-round activity because it:

keeps your heart rate up but takes some of the impact stress off your body
builds endurance, muscle strength and cardiovascular fitness
helps you maintain a healthy weight, healthy heart and lungs
tones muscles and builds strength
provides an all-over body workout, as nearly all of your muscles are used during swimming.

<hr>
Other benefits of swimming
Swimming has many other benefits including:

being a relaxing and peaceful form of exercise
alleviating stress
improving coordination, balance and posture
improving flexibility
providing good low-impact therapy for some injuries and conditions
providing a pleasant way to cool down on a hot day
being available in many places – you can swim in swimming pools, beaches, lakes, dams and rivers. Make sure that the environment you choose to swim in is safe.
Getting started with swimming
Getting started in swimming is easy. It is a sport for all age groups, skill and fitness levels. Before you get started, you will need to purchase a pair of swimmers and some goggles.

There are public pools throughout Australia that are open to everyone. Entry to public pools is inexpensive and many aquatic centres offer swimming lessons for people of all ages, as well as training and exercise groups.
<hr>
Some general tips for swimming
Before you dive in:

Make sure you know how to swim.
Choose a safe environment and ensure the water safety of children.
Warm up and stretch your muscles and joints before entering the water.
Have plenty of fluids on hand and drink regularly.
Don't overdo it if you're just starting out.
See your doctor if you haven't exercised for a long time.
    </p>


</div>
{% endblock %}