{% extends 'base.html' %}

{% block content %}
<div class="overlay"></div>
<div class="container content pt-4">
    <div class="row">
        <div class="col-lg-8 mx-auto" style="margin-top: 140px;">
            <!-- Image -->
            <img src="https://e1.pxfuel.com/desktop-wallpaper/136/930/desktop-wallpaper-gym-fitness-center-exercise-equipment-treadmills-gym-concept-interior-of-a-modern-gym-cardiovascular-equipment-rowing-machine-indoor-cycling-with-resolution-2880x1800-high-quality.jpg" alt="Gym Interior" class="img-fluid mb-4 rounded">

            <!-- Article Title -->
            <h1 class="mb-3">Contact Us</h1>
            
            <!-- Article Content -->
            <p class="text-justify">
                If you have any questions or inquiries, please feel free to contact us using the form below or through the provided contact details. FLYEfit Gyms are open 364 days a year (closed on Christmas Day). The opening hours for each gym are listed below FLYEfit: Drumcondra, Finglas, Georges Street, Jervis Street, Liffey Valley, Portobello, & Tallaght are.
            </p>

            <!-- Subsection -->
            <h2 class="mt-4 mb-3">OPENING HOURS</h2>
            <p class="text-justify">
                5.30 am – 11.30 pm – Monday to Friday<br>
                7.30 am – 7.30 pm – Saturday, Sunday, and Bank Holidays
            </p>
            
            <hr>
            
            <!-- Contact Details -->
            <h2 class="mt-4 mb-3">Contact Details</h2>
            <p class="text-justify">
                <strong>Address:</strong> 15, South Circular Road, Dublin 08, Ireland<br>
                <strong>Phone:</strong> +1 234 567 8901<br>
                <strong>Email:</strong> info@cafesoul.com
            </p>
        </div>
    </div>
</div>
{% endblock %}
