{% extends 'base.html' %}

{% block content %}
<div class="overlay"></div>
<div class="container content">
    <img src="https://www.ireland-guide.com/_fileupload/image/1477666487Copy%20of%20UY8W9500.jpg" alt="Contact Image" class="img-fluid mt-4"> <!-- Adjust the margin-top as needed -->
</div>

<div class="container mt-12">
    <h1>Contact Us</h1>
    <p>
        If you have any questions or inquiries, please feel free to contact us using the form below or through the
        provided contact details.
    </p>

    <div class="col-md-12">
        <!-- Contact Details -->
        <h4>Contact Details</h4>
        <p>
            Address: 15, South Circular Road, Dublin 08, Ireland
        </p>
        <p>
            Phone: +1 234 567 8901
        </p>
        <p>
            Email: info@cafesoul.com
        </p>
    </div>
</div>
{% endblock %}