{% extends 'base.html' %}

{% block content %}
<div class="overlay"></div>
<div class="container content">
    <img src="https://e1.pxfuel.com/desktop-wallpaper/136/930/desktop-wallpaper-gym-fitness-center-exercise-equipment-treadmills-gym-concept-interior-of-a-modern-gym-cardiovascular-equipment-rowing-machine-indoor-cycling-with-resolution-2880x1800-high-quality.jpg" alt="Contact Image" class="img-fluid mt-4"> <!-- Adjust the margin-top as needed -->
</div>

<div class="container mt-12">
    <h1>Contact Us</h1>
    <p>
        If you have any questions or inquiries, please feel free to contact us using the form below or through the
        provided contact details.

        FLYEfit Gyms are open 364 days a year (closed on Christmas Day). 
        The opening hours for each gym are listed below
        FLYEfit: Drumcondra, Finglas, Georges Street, Jervis Street, Liffey Valley, Portobello, & Tallaght are
        <hr>
        
        OPENING HOURS
        <hr>
        5.30 am – 11.30 pm – Monday to Friday

        7.30 am – 7.30 pm – Saturday, Sunday, and Bank Holidays


    </p>

    <div class="col-md-12">
        <!-- Contact Details -->
        <h4>Contact Details</h4>
        <p>
        Address: 15, South Circular Road, Dublin 08, Ireland
        </p>
        <p>
        Phone: +1 234 567 8901
        </p>
        <p>
            Email: info@cafesoul.com
        </p>
    </div>
</div>
{% endblock %}