{% extends 'base.html' %}

{% block content %}
<div class="overlay"></div>
<div class="container content pt-4">
    <div class="row">
        <div class="col-lg-8 mx-auto" style="margin-top: 140px;">
            <!-- Image -->
            <img src="https://content.dhhs.vic.gov.au/sites/default/files/swimming_50466308_1050x600.jpg" alt="Swimming" class="img-fluid mb-4 rounded">
            
            <!-- Article Title -->
            <h1 class="mb-3">Swimming - Health Benefits</h1>
            
            <!-- Article Content -->
            <p class="text-justify">
                Swimming is one of the most popular sports in Australia. Our nation is surrounded by water and swimming is one of our great passions. As well as being fun, swimming is a great way to keep fit, stay healthy and make friends. Swimming is a healthy activity that you can continue for a lifetime. It is a low-impact activity that has many physical and mental health benefits.
            </p>
            <h2 class="mt-4 mb-3">Swimming for Recreation</h2>
            <p class="text-justify">
                Swimming is a great recreational activity for people of all ages. Recreational swimming can provide you with a low-impact workout and it's a good way to relax and feel good. Common swimming styles in recreational swimming are breaststroke, backstroke, sidestroke, and freestyle.
            </p>
            
            <!-- ... additional content ... -->
            
            <h2 class="mt-4 mb-3">Health Benefits of Swimming</h2>
            <p class="text-justify">
                Swimming is a great workout because you need to move your whole body against the resistance of the water. Swimming is a good all-round activity because it keeps your heart rate up but takes some of the impact stress off your body, builds endurance, muscle strength, and cardiovascular fitness. It helps you maintain a healthy weight, healthy heart, and lungs, tones muscles and builds strength, and provides an all-over body workout, as nearly all of your muscles are used during swimming.
            </p>
            
            <!-- ... additional content ... -->
            
            <h2 class="mt-4 mb-3">Getting Started with Swimming</h2>
            <p class="text-justify">
                Getting started in swimming is easy. It is a sport for all age groups, skill, and fitness levels. Before you get started, you will need to purchase a pair of swimmers and some goggles. There are public pools throughout Australia that are open to everyone. Entry to public pools is inexpensive and many aquatic centres offer swimming lessons for people of all ages, as well as training and exercise groups.
            </p>
            
            <!-- ... additional content ... -->
            
            <hr>
            <p class="text-justify">
                Some general tips for swimming: Make sure you know how to swim. Choose a safe environment and ensure the water safety of children. Warm up and stretch your muscles and joints before entering the water. Have plenty of fluids on hand and drink regularly. Don't overdo it if you're just starting out. See your doctor if you haven't exercised for a long time.
            </p>
        </div>
    </div>
</div>
{% endblock content %}
